In [1]:
import pandas as pd

In [2]:
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
year = ['2019','2020','2021']

In [3]:
end_month = 1
num_month = len(month)*(len(year)-1)+end_month
citi_date = []
k = 0
for i in range(num_month):
    citi_date.append(year[k]+month[i % 12])
    if (month[i%12] == '12'):
        k+=1
        
print(citi_date)

['201901', '201902', '201903', '201904', '201905', '201906', '201907', '201908', '201909', '201910', '201911', '201912', '202001', '202002', '202003', '202004', '202005', '202006', '202007', '202008', '202009', '202010', '202011', '202012', '202101']

In [4]:
citi_list = []
for m in range(len(citi_date)):
    file_name = f'../../Citibike/{citi_date[m]}-citibike-tripdata.csv'
    new_file = pd.read_csv(file_name)
    citi_list.append(new_file)

In [5]:
final_df = pd.concat(citi_list)

In [6]:
final_df = final_df.reset_index(drop=True)
final_df['date'] = [time[0:10] for time in final_df['starttime']]
final_df['starttime'] = [time[11:] for time in final_df['starttime']]
final_df['stoptime'] = [time[11:] for time in final_df['stoptime']]

In [7]:
final_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,320,00:01:47.4010,00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,2019-01-01
1,316,00:04:43.7360,00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,2019-01-01
2,591,00:06:03.9970,00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,2019-01-01
3,2719,00:07:03.5450,00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,2019-01-01
4,303,00:07:35.9450,00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,2019-01-01